<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group">
      <%= f.label :name, 'Имя:', class: 'control-label' %>
      <%= f.text_field :name, size: 40, placeholder: 'Введите имя', class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :adress, 'Адрес:', class: 'control-label' %>
      <%= f.text_area :adress, rows: 3, cols: 42, placeholder: 'Введите адрес', class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :email, 'E-mail:', class: 'control-label' %>
      <%= f.text_field :email, size: 40, class: 'form-control' %>
    </div>
      
    <div class="form-group">
      <%= f.label :phone, 'Телефон:', class: 'control-label' %>
      <%= f.text_field :phone, size: 40, class: 'form-control' %>
    </div>
  
    <div class="form-group"> 
     <%= f.label :pay_type, 'Вариант платежа:', class: 'control-label' %>
     <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Выберите вариант платежа' %>
    </div>  

     <div class="form-group"> 
     <%= f.label :status, 'Статус заказа:', class: 'control-label' %>
     <%= f.select :status, Order::STATUS_TYPES, prompt: 'Статус заказа' %>
    </div>  
    
    <div class="actions">
     <%= f.submit 'Сохранить', class: 'btn btn-default' %>
     <%= link_to 'Назад', :back, class: 'btn btn-default' %>

    </div>

<% end %>
