<h2>Товары в корзине</h2>
  <table class='table table-bodered'>
      <tr>
        <th></th>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Цена за единицу (руб.)</th>
        <th>Итого (руб.)</th>
        <th colspan='3'></th>
        <% @order.line_items.each do |item| %>
        <% product=Product.find(item.product_id) %>
      </tr>
      <tr>
        <td></td>
        <td><%= product.title %></td>
        <td><%= item.quantity %></td>
        <td><%= product.price %></td>
        <td><%= item.total_price %></td>
        <td><%= link_to 'Изменить', edit_line_item_path(item) %></td>
        <td><%= link_to 'Удалить', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      </tr>
    <% end %>
  </table>