<h2>Товары</h2>
  <table class='table table-bodered'>
      <tr>
          <th></th>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена за единицу (руб.)</th>
          <th>Итого (руб.)</th>
          <th colspan='3'></th>
          <% @cart.line_items.each do |item| %>
          <% product=Product.find_by(id: item.product_id) %>
      </tr>
      <tr>
          <td></td>
          <td><%= product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= product.price %></td>
          <td><%= item.total_price %></td>
          <% end %>
      </tr>
      <tr>
          <th colspan='4'></th>
          <th><%= @cart.line_items.map(&:total_price).inject(:+) %> </th>
      </tr>
</table>
