<!DOCTYPE html>
<html>
		<head>
				<!-- META TAGS -->
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width" />
				
				<!-- Title -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
                
				<title>GPS for KIDS</title>
				<!-- Style Sheet-->
        <link rel="stylesheet" href="style.css">
				<!-- favicon -->
				<link rel="shortcut icon" href="images/favicon.jpg">

            <!-- Include the HTML5 shiv print polyfill for Internet Explorer browsers 8 and below -->
            <!--[if lt IE 10]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

		</head>

<body>  
<header class="navbar">
    <div class="container">
          <div class="row">
              <div class="col-md-6 logo">
                  <%= link_to image_tag("logo.png"), alt: "", controller: 'store', action: 'index' %>
                  <a href="index.html">GPS для<span> родителей </span>и детей</a>
              </div>
              <div class="col-md-6 cart_div">
                  <%= hidden_div_if(logged_in?) do %>
                  <%= render @cart %>
                  <% end %>  
              </div>
          </div>
          <div class="row">
            <nav>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Главная", home_path %></li>
                <li><%= link_to "Каталог", store_path %></li>
                <li><%= link_to "Оплата и доставка", payments_path %></li>
              </ul>
                  <% if session[:user_id] %>
              <ul class="nav navbar-nav navbar-right">
                <li></li>
                <li><%= link_to 'Заказы', orders_path %></li>
                <li><%= link_to 'Товары', products_path %></li>
                <li><%= link_to 'Пользователи', users_path %>
                <li><%= link_to 'Выйти', logout_path, method: :delete, style: 'border-left: 1px solid gray;' %></li>
                  <% end %>
              </ul>
            </nav>
          </div>
      </div>
</header>

<div id="main">
   <%= yield %>
</div>
   
<footer class="navbar navbar-fixed-bottom">
    <div class="container">
          <div class="row">
            <nav>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Главная", home_path %></li>
                <li><%= link_to "Контакты", contacts_path %></li>
                <li><%= link_to "О нас", about_path %></li>
              </ul>
            </nav>
          </div>
      </div>
</footer>
</body>
</html>
